<body class="fondo">
    
    <br>
       <div class="jumbotron">
           <div class="container">
               <div class="med">
                   
                 <h1 class="white1">
                     EUREKA
                 </h1>
                    
                <h5>Somos una pagina web, dedicada a ofrecer el servicio de aprendizaje facilitando al púbico el acceso a herramientas virtuales para fortalecer y mejorar
                el nivel educativo local y Regional, por medio de EUREKA, una pagina web interactiva. </h5>
                <h5>Nuestra misión es ser un apoyo fundamental en la educación y valores, e instruir a los niños para utilizar herramientas y tecnologías mas alla
                del entretenimiento personal, Para el año 2020, seremos un apoyo indispensable para la educación primaria a nivel nacional, mejorando los niveles académicos y expandiéndolos a la 
                educación secundaria</h5>
                <p>
                <br>
                <%= image_tag("22.jpg", class:'img-circle social1' ) %>
                <%= image_tag("11.jpg", class:'img-circle social1')  %>
                <%= image_tag("33.jpg", class:'img-circle social1' ) %>
                <%= image_tag("44.jpg", class:'img-circle social1')  %>
                </p>
        </div> 
           </div>
       </div>
        
    
    
</body>

