<body class="fondo">
    
    
    <div class="col-md-12">
        
        <div class="col-md-3"></div>
        <div class="col-md-6">
            
            <div class="med">
                
            <h5>Somos una pagina web, dedicada a ofrecer el servicio de aprendizaje facilitando al púbico el acceso a herramientas virtuales para fortalecer y mejorar
            el nivel educativo local y Regional, por medio de EUREKA, una pagina web interactiva. </h5>
            <h5>Nuestra misión es ser un apoyo fundamental en la educación y valores, e instruir a los niños para utilizar herramientas y tecnologías mas alla
            del entretenimiento personal</h5>
            <h5>Para el año 2020, seremos un apoyo indispensable para la educación primaria a nivel nacional, mejorando los niveles académicos y expandiéndolos a la 
            educación secundaria</h5>
            <p>
                <%= image_tag("4.jpg", class:'img-circle' ) %>
            <%= image_tag("5.jpg", class:'img-circle')  %></p>
            </div>
            
            <br>
            
            
        </div>
        <div class="col-md-3"></div>
        
        
    </div>
    
    
</body>

<style>
    .med{
        border-radius: 10px;
        background-color: #78C72E;
        margin-bottom: 1.4rem;
        padding: 1rem;
        color: white;
        p{
            text-align: center;
        }
    }
</style>