<body class="fondo">
    
  <br></br><br></br>



<div class="col-md-12">
    <div class="col-md-3"></div>
    <div class="col-md-6">
        <div class="jumbotron">
              <h1 class="white1">Español</h1>
            
<%= link_to "Nivel 1", juegos_espanol_nilvel_1_path, class:'btn btn-default btn-lg btn-block' %>
<%= link_to "Nivel 2", juegos_espanol_nilvel_2_path, class:'btn btn-default btn-lg btn-block' %>

        </div>
    </div>
    <div class="col-md-3"></div>
    
</div>



<%= link_to "<i class='fa fa-arrow-left fa-3x'></i>".html_safe, juegos_index_path %>

</body>