<body class="fondo">
<br></br>

<h1 class="center">JUEGOS</h1>




<div class="col-md-12 jumbotron">
    
   

<div class="col-md-4">
    
<span><h2>
<%=link_to " <h1 class='ss'>Sociales</h1> ".html_safe, juegos_sociales_path, class:'button'%></h2></span>

</div>
 <div class="col-md-4">
     <h1>
    
<span><h2>
<%=link_to " <h1 class='ss'>Inglés</h1> ".html_safe, juegos_ingles_path, class:'button'%></h2></span>
</h1>
     
 </div>
  <div class="col-md-4">
  
<span><h2>
<%=link_to " <h1 class='ss'>Español</h1> ".html_safe, juegos_espanol_path, class:'button'%></h2></span>
  </div>

    
</div>



</body>