<body class="fondo">
    <br></br><br></br>

<div class="col-md-12">
    <div class="col-md-2"></div>
    <div class="col-md-4">    
<%= swf_tag "cirquero.swf", class:'sociales1' %>
</div>
<div class="col-md-2"></div>
</div>


<%= link_to "<i class='fa fa-arrow-left fa-3x'></i>".html_safe, juegos_ingles_path %>


</body>