<body class="fondo">
    <br></br>
<div class="col-md-12">
    <div class="col-md-3"></div>
    <div class="col-md-6">
    <div class="jumbotron">
                
    <h1 class="white1">Nueva</h1>

<%= render 'form' %>

<%= link_to "<i class='fa fa-arrow-left fa-3x'></i>".html_safe, galerias_path %>
        
    </div>
    </div>
    <div class="col-md-3"></div>
    
</div>

</body>