/*
 * This is a manifest file that'll be compiled into application.css, which will include all the files
 * listed below.
 *
 * Any CSS and SCSS file within this directory, lib/assets/stylesheets, vendor/assets/stylesheets,
 * or vendor/assets/stylesheets of plugins, if any, can be referenced here using a relative path.
 *
 * You're free to add application-wide styles to this file and they'll appear at the bottom of the
 * compiled file so the styles you add here take precedence over styles defined in any styles
 * defined in the other CSS/SCSS files in this directory. It is generally better to create a new
 * file per style scope.
 *
 *= require_tree .
  *= require font-awesome
 *= require_self
 */

@import "bootstrap-sprockets";
@import "bootstrap";
@import "font-awesome";
@import url("http://fonts.googleapis.com/css?family=Carrois+Gothic+SC");


html{
  font-family: 'Carrois Gothic SC', sans-serif;
}

body{
  font-family: 'Carrois Gothic SC', sans-serif;
}

body.fondo{
  background: url("fondo.jpg");
  -webkit-background-size: cover;
  -moz-background-size: cover;
  -ms-background-size: cover;
  -o-background-size: cover;
  background-size: cover;
  background-attachment: fixed;
  background-repeat: no-repeat;
  background-position: top center;
  -webkit-touch-callout: none;
  -webkit-tap-highlight-color: transparent;
}

h3 h1 h2 h4 h5{ 
   font-family: 'Carrois Gothic SC', sans-serif;
}


/*
Inspired by http://dribbble.com/shots/917819-iPad-Calendar-Login?list=shots&sort=views&timeframe=ever&offset=461
*/

.navbar{
  background-color: #78C72E;
}

li{
  color: white;
}

a:hover{
  background-color: transparent;
}

i:hover{
  background-color: transparent;
}

button:hover{
  background-color: transparent;
}

.img-circle{
  -webkit-box-shadow: 0px 0px 23px 0px rgba(0,0,0,0.75);
  -moz-box-shadow: 0px 0px 23px 0px rgba(0,0,0,0.75);
  box-shadow: 0px 0px 23px 0px rgba(0,0,0,0.75);
}


.jumbotron{
  background-color: #78C72E;
  -webkit-box-shadow: 0px 0px 23px 0px rgba(0,0,0,0.75);
  -moz-box-shadow: 0px 0px 23px 0px rgba(0,0,0,0.75);
  box-shadow: 0px 0px 23px 0px rgba(0,0,0,0.75);
  
  h3{
     font-weight: bold;
     color: white;
     
  }
}

.jumbotron1{
  background: url("lobocontainer.jpg");
  border-radius: 10px;
  
  
}


.jumbotron1:hover{
  -webkit-box-shadow: 0px 0px 12px 0px rgba(0,0,0,0.75);
  -moz-box-shadow: 0px 0px 12px 0px rgba(0,0,0,0.75);
  box-shadow: 0px 0px 12px 0px rgba(0,0,0,0.75);
}


.container{
  h2{
     font-weight: bold;
     color: white;
  }
}

.color{
  background-color: #78C72E;
}



.med{
  h5 {
     font-weight: bold;
     color: white;
     font-size: 20px;
  }
}

.white{
     font-weight: bold;
     color: white;
     font-size: 60px;
}

.white1{
     font-weight: bold;
     color: white;
     font-size: 20px;
}


.white11{
  margin: 10px ;
  font-weight: bold;
  color: white;
  font-size: 120px;
}

.white111{
  margin: 10px ;
  font-weight: bold;
  color: white;
  font-size: 50px;
}

.white1111{
  margin: 20px ;
  font-weight: bold;
  color: black;
  font-size: 50px;
  text-transform: uppercase;
}



/*

.jumbotron {
  text-align: center;
  height: 70rem; 
  width: 30rem;
  border-radius: 0.5rem;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
  position: absolute;
  margin: 4rem auto;
  background-color: #78C72E;
  padding: 2rem;
}

.container .glyphicon-fire {
  font-size: 10rem;
  margin-top: 3rem;
  color: #f96145;
}

input {
  width: 100%;
  margin-bottom: 1.4rem;
  padding: 1rem;
  background-color: #ecf2f4;
  border-radius: 0.2rem;
  border: none;
}
h2 {
  margin-bottom: 3rem;
  font-weight: bold;
  color: white;
}
.btn {
  border-radius: 0.2rem;
}
.btn .glyphicon {
  font-size: 3rem;
  color: #fff;
}
.full-width {
  background-color: #8eb5e2;
  width: 100%;
  -webkit-border-top-right-radius: 0;
  -webkit-border-bottom-right-radius: 0;
  -moz-border-radius-topright: 0;
  -moz-border-radius-bottomright: 0;
  border-top-right-radius: 0;
  border-bottom-right-radius: 0;
}

.box {
  position: absolute;
  bottom: 0;
  left: 0;
  margin-bottom: 3rem;
  margin-left: 3rem;
  margin-right: 3rem;
}



*/



#pinBoot {
  position: relative;
  max-width: 100%;
  width: 100%;
}
.img1 {
  width: 100%;
  max-width: 100%;
  height: auto;
}
.white-panel {
  position: absolute;
  background: white;
  box-shadow: 0px 1px 2px rgba(0, 0, 0, 0.3);
  padding: 10px;
}




.white-panel h1 {
  font-size: 1em;
}
.white-panel h1 a {
  color: #A92733;
}
.white-panel:hover {
  box-shadow: 1px 1px 10px rgba(0, 0, 0, 0.5);
  margin-top: -5px;
  -webkit-transition: all 0.3s ease-in-out;
  -moz-transition: all 0.3s ease-in-out;
  -o-transition: all 0.3s ease-in-out;
  transition: all 0.3s ease-in-out;
}


.thumbnail{
  width: 200px;
  height: 200px;
}

.carousel{
  border-radius: 10px;
}


.bonotoes{
  width: 700px;
  height: 700px;
}



.button {
  background: yellow;
  display: inline-block;
  padding: 2rem 4rem;
  margin: 1rem;
  text-decoration: none;
  font: bold 1rem Sans-Serif;
  color: white;
  position: relative;
  overflow: hidden;
  @include transition(0.7s);
  &:before {
    content: "";
    position: absolute;
    bottom: -40px;
    right: -40px;
    width: 10px;
    height: 10px;
    background: #222;
    border-radius: 50%;
    @include transition(0.7s);
  }
  span {
    position: relative;
  }
  &:hover, &:focus {
    color: white;
    &:before {
      
    }
  }
}

.button:nth-child(1) { 
  background: #78C72E;
  -webkit-box-shadow: 0px 0px 12px 0px rgba(0,0,0,0.75);
  -moz-box-shadow: 0px 0px 12px 0px rgba(0,0,0,0.75);
  box-shadow: 0px 0px 12px 0px rgba(0,0,0,0.75);
}
.button:nth-child(2) { 
  background: #3498db;
  &:before {
    bottom: auto;
    top: -40px;
  }
}
.button:nth-child(3) { 
  background: #e74c3c;
  &:before {
    right: auto;
    left: -40px;
  }
}
.button:nth-child(4) { 
  background: #f1c40f;
  &:before {
    right: auto;
    bottom: auto;
    left: -40px;
    top: -40px;
  }
}
.button:nth-child(5) { 
  background: #1abc9c;
  &:before {
    right: auto;
    bottom: auto;
    left: 90px;
    top: -40px;
  }
  &:hover, &:focus {
    &:before {
      left: -50px;
    }
  }
}


.center{
  text-align: center;
  font-weight: bold;
  color: white;
  font-size: 60px;
}

.ss{
  color: white;
}



 .sociales1{
    
        width: 640px;
        height: 344px;
        
    }